/* .nom = class, #nom = id*/
.error { color: red;
         font-family: arial;
         font-size: 10pt;
         fontstyle:italic;
}
body{
    /*background-image: url(../img/fondo_azul.png);
    background-attachment: fixed;
    background-position: right top;*/
    background-color:#F3F3F3;
}
h1{
    font-size: 32pt;
}
#wrapper {
	width: 80%;
	margin:auto;
	background-color:#DBDBDB;
	opacity: 0.95;
	border-radius: 40px;
    box-sizing: border-box;
}
#header {
	height:40px;
}
#menu {
	width: 90%;
	margin-left:auto;
	margin-right: auto;
	height:25px;
	padding-top:10px;
	text-align:center;
	margin-bottom: 2%;
}
#menu_admin,#menu_user{
	width: 100%;
	display: block;
	margin-left: auto;
    margin-right: auto;
	height:25px;
	padding-top:5px;
	text-align:center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #BDBDBD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#menu a, #footer a{
	color:#323232;
	text-decoration:none;
	font-weight:bold;
}
#part{
	padding-top: 10px;
	padding-bottom: 10px;
	background: #BDBDBD;
	border-radius:5px;
}
#part:hover{
	background-color: #F0F0F0;
}
#footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding-top:20px;;
	margin:auto;
}

#footer {
	height:40px;
	padding-top:5px;
	text-align:center;
	height: 50px;
}
/*--------------------------USUARIO----------------------*/
.Button_green {
	background-color:green;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid green;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_green:hover {
	background-color:greenyellow;
}
.Button_green:active {
	position:relative;
	top:1px;
}
.Button_blue {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid blue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}
.Button_red {
	background-color:crimson;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid crimson;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_red:hover {
	background-color:red;
}
.Button_red:active {
	position:relative;
	top:1px;
}
#anadir{
	width: 5%;
}
#tablelist{
	padding-right: 0%;
	padding-left: 0%;
}
/*--------------------------btn_dumies------------------------*/
.Dumies {
	background-color:#E3DD1A;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #E3DD1A;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e2e50d;
	margin-top: 0%;
}
.Dumies:active{
	position:relative;
	top:1px;
}
.Dumies:hover {
	background-color:#feff97;
}
/*----------------------modal-------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-attachment: fixed;
	display: inline-block;
	margin:auto;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px 30px 68px 30px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 20px;
    box-sizing: border-box;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#volver{
	float: right;
	padding: 5px 5px 0px 0px;
	background-color: #EAEAEA;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:15px;
	border:1px solid #EAEAEA;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:14px 24px;
	text-decoration:none;
}
#volver:hover {
	background-color:#D4D4D4;
}
#aceptar{
	float: left;
	padding: 5px 5px 0px 0px;
	background-color: #EAEAEA;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #EAEAEA;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:14px 24px;
	text-decoration:none;
}
#aceptar:hover,#login_btn:hover,#register_btn:hover,#reset_btn:hover{
	background-color:#D4D4D4;
}
.lista{
	padding-left: 3%;
}
/*----------------------------errores-------------------------------*/
.error404{
float: left;
padding-top: 10%;
}
.img404{
max-width: 55%;
    height: auto;
}
/*---------------------------empezar/start--------------------*/
#botones{
float:left;
}
.btn_carrito {
	background-color: #EAEAEA;
	text-decoration:none;
	border-radius:10px;
	border:1px solid #EAEAEA;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	text-align: center;
	font-family:Arial;
	font-size:17px;
	padding:14px 26px;
	width: 100%;
	margin-left:auto;
	margin-right: auto;
}
.btn_carrito:hover {
	background-color:#D4D4D4;
}
.compras{
	border: 1px solid black;
	padding: 0% 0% 0% 5%;
	text-align: left;
	width: 100%;
	border-radius:28px;
	padding-bottom: 1%;
	padding-top: 1%;
}
#busqueda_cripto{
	background: #FFFFFF;
	border-radius:10px;
	width: 60%;
	height: 35px;
}
#criptomonedas{
width: 100%;
}
#mytable{
width: 100%;
}

	/*white-space:nowrap;*/

.suggest-element{
margin-left:5px;
margin-top:5px;
width:350px;
cursor:pointer;
}
#suggestions {
width:60%;
height:150px;
overflow: auto;
}
#Bitcoin,#Ethereum,#Ripple,#Bitcoin-Cash,#Cardano,#Litecoin,#Nem,#Neo,#Stellar,#Iota,#Dash,#Eos,#Tron,#Monero,#Bitcoin-Gold,#Icon,#Ethereum-Classic,#Qtum,#Lisk,#Nano,#Omisego,#Siacoin,#Verge {
width: 16%;
padding-top: 1%;
padding-left: 1.5%;
display: inline-table;
}
#mylist{
	background: #FFFFFF;
	border-radius:10px;
	width: 150px;
	height: 30px;
}
#primera,#segona,#tercera{
	display: inline;
}
#cantcrypto{
	width: 43px;
}
/*----------------------home_carosel--------------------------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 3%;
  margin-top: 3%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*-------------------MAPS-----------------------*/
#map {
height: 400px;
width: 100%;
}
/*---------------------List------------------------*/
#list {
    border-bottom: 1.5px solid #FFFFFF;
    border-color: 1.5px solid #FFFFFF;
}
/*----------------------LOGIN-------------------------*/
#usuario_login,#pass_login,#email_reset,#pass_reset,#pass_reset2{
	background: #FFFFFF;
	border-radius:10px;
	width: 100%;
	height: 30px;
	background: #FFFFFF;
	margin: left;
}
#login{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: transparent;
	border-radius:20px;
}
#login{
	width: 80%;
	height: auto;
	margin-left: auto;
}
#input_login{
	width: 75%;
    margin: auto;
	background-color:#F3F3F3;
	border-radius:20px;
	padding: 40px;
}
#login_png{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
#texto{
	color: #5E5E5E;
}
#table_login{
	width: 100%;
	margin:auto;
	display: block;
}
#login_btn,#register_btn,#reset_btn{
	padding: 5px 5px 0px 0px;
	background-color: #EAEAEA;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #EAEAEA;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:14px 24px;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
}
#botones_login,#botones_register{
	margin-left: auto;
    margin-right: auto;
}
/*----------------------REGISTER-----------------------*/
#contenido_register{
	width: 75%;
    margin: auto;
	background-color:#F3F3F3;
	border-radius:20px;
	padding: 40px;
	margin:auto;
}
#register{
	width: 100%;
	margin:auto;
	display: block;
}
#registerpng{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

/*------------------------AÑADIR USER--------------------------*/
#contenido_anadir{
	width: 80%;
    margin: auto;
	background-color:#F3F3F3;
	border-radius:20px;
	padding: 40px;
	margin:auto;
}

#anadir_user{
	width: 100%;
	margin:auto;
	display: block;
}
#anadirpng{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
/*------------------------UPDATE USER--------------------------*/
#contenido_update{
	width: 80%;
    margin: auto;
	background-color:#F3F3F3;
	border-radius:20px;
	padding: 40px;
	margin:auto;
}

#update_user{
	width: 100%;
	margin:auto;
	display: block;
}
#updatepng{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
/*------------------------CARRITO------------------------------*/
#carrito_png{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
#precio_total{
	float:right;
	border: 2px solid black;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-right: 15px;
	margin-top: 10px;
}
#todo_precio_total{
	width: 923px;
    clear: none;
    float: left;
    padding: 0 168px;
}
#compra{
	float: right;
	padding: 5px 5px 0px 0px;
	background-color: #9AFF00;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:15px;
	border:1px solid #83DA00;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:14px 24px;
	text-decoration:none;
	margin-right: 2%;
	display: inline-block;

}
#compra:hover {
	background-color:#AAFF29;
}
#carrito {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	border-radius:20px;
}
#carro,#nom_prod,#carrito_cantidad,#precio_productos,#precio_item{
	display: inline-table;
	width: 90px;
	margin-bottom: 5px;
	margin-left: 40px;
	text-align:left;
}
#opcion_carrito{
	margin-right: 2%;
	margin-left: 2%;
	display: inline-table;
}
#carrito_cantidad{
	width: 60%;
	margin-left: 8px;
	float:left;
}
#precio_productos{
	margin-left: -80px;
}
#dividir{
	height: 1px;
	background: black;
	margin-top: 1%;
}
#dividir_baix{
	height: 1px;
	background: black;
}
#eliminar{
	float: right;
	padding: 5px 5px 0px 0px;
	background-color: rgb(0,205,20,0.5);
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:15px;
	border:1px solid #00CD14;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:5px 28px;
	text-decoration:none;
	display: inline-block;
	margin-left: -100px;
	margin-top:10px;
}
#eliminar:hover {
	background-color:#33FF48;
}
#carro_entero{
	background-color:#F2F2F2;
	margin:auto;
}
#opciones_carrito{
    width: 850px;
    margin-top: 45px;
}